.header {
    display: flex;
    border-bottom: 1px solid #e8ebed;
}
.header-left {
    width: 16%;
    height: 100%;
    padding: 10px;
}
.header-right {
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.2rem;
    padding-left: 5px;
}
.header button {
    border: none;
    outline: none;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header button img {
    width: 100%;
}
.header_nav {
    display: flex;
    align-items: center;
}
.header button span {
    font-size: 1.2rem;
}
.header button:hover {
    background-color: rgba(99, 115, 129, 0.08);
}
.header .header-left img {
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.header .avatar {
    border-radius: 50%;
}
